<?xml version="1.0" encoding="utf-8" ?>
<fop>
    <renderers>
        <renderer mime="application/pdf">
            <fonts>
                <font kerning="yes" embed-url="file:///C:/windows/fonts/arial.ttf">
                    <font-triplet name="Arial" style="normal" weight="normal"/>
                </font>
                <font kerning="yes" embed-url="file:///C:/windows/fonts/arialbd.ttf">
                    <font-triplet name="Arial" style="normal" weight="bold"/>
                </font>
                <font kerning="yes" embed-url="file:///C:/windows/fonts/cour.ttf">
                    <font-triplet name="Courier New" style="normal" weight="normal"/>
                </font>
                <font kerning="yes" embed-url="file:///C:/windows/fonts/courbd.ttf">
                    <font-triplet name="Courier New" style="normal" weight="bold"/>
                </font>   
            </fonts>
        </renderer>
    </renderers>
</fop>